@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

// color
$main_color: #ad061c;
// background Color
$background_color: #f2f2f2;
// Media query
$sp: "only screen and (max-width:769px)";

* {
    box-sizing: border-box;
}
body, h1, h2, h3,ul, p {
    margin: 0;
}
body {
    margin: 0;
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", " メイリオ", Meiryo, Osaka, sans-serif;
    -webkit-text-size-adjust: 100%;
    background: $background_color;
	text-align: center;
	color: #4c4c4c;
	line-height: 1.8;
	@media #{$sp} {
		font-size: 14px;
	}
}
h3 {
    font-size: 24px;
    font-weight: 600;
    @media #{$sp} {
        font-size: 18px;
    }
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: #4C4C4C;
}
img {
    width: 100%;
    height: auto;
}

// clearfix
.clearfix{
    display: block;
    &:after {
        content: ".";
        display: block;
        height: 0;
        font-size:0;
        clear: both;
        visibility:hidden;
    }
}
.pc {
    @media #{$sp} {
        display: none !important;
    }
}
.sp {
    display: none;
    @media #{$sp} {
        display: block;
    }
}
.hide {
    display: none !important;
}
