@charset "utf-8";

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: unset;
}


// color
$main_color: #ad061c;
// Media query
$sp: "only screen and (max-width:769px)";

// clearfix
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    font-size:0;
    clear: both;
    visibility:hidden;
}
.clearfix{
    display: block;
}
.pc {
    @media #{$sp} {
        display: none !important;
    }
}
.sp {
    display: none;
    @media #{$sp} {
        display: block;
    }
}
// img
img {
    width: 100%;
    height: auto;
}
