@charset "utf-8";

// color
$main_color: #ad061c;
// Media query
$sp: "only screen and (max-width:769px)";

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", " メイリオ", Meiryo, Osaka, sans-serif;
    -webkit-text-size-adjust: 100%;
    background: #F2F2F2;
	text-align: center;
	color: #4C4C4C;
	line-height: 1.8;
	@media #{$sp} {
		font-size: 14px;
	}
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    @media #{$sp} {
        font-size: 18px;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: unset;
}

// clearfix
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    font-size:0;
    clear: both;
    visibility:hidden;
}
.clearfix{
    display: block;
}
.pc {
    @media #{$sp} {
        display: none !important;
    }
}
.sp {
    display: none;
    @media #{$sp} {
        display: block;
    }
}
.hide {
    display: none;
}
// img
img {
    width: 100%;
    height: auto;
}
