@charset "utf-8";

body {
	header {
		display: flex;
    justify-content: space-between;
    align-items: center;
		padding: 0 20px;
		margin: 0 auto;
    box-sizing: border-box;
    background-color: #f2f2f2;
    width: 1280px;
		height: 50px;
		@media #{$sp} {
			display: none;
		}
		.logo{
			background-repeat: no-repeat;
			font-size: 0;
			background-image: url(../images/header_logo.png);
			width: 130px;
			height: 16px;
		}
		.link {
			color: #231815;
			font-size: 12px;
			background: #F1CF07;
			width: 172px;
			padding: 2px;
			// padding-top: 1px;
			a {
				display: block;
			}
		}
	}
	.banner {
		height: 56px;
		width: 100%;
		z-index: 256;
		transition: 0.2s all ease;
		background-color: #f2f2f2;
		position: fixed;
		.img {
			display: block;
			width: 320px;
			height: 100%;
			margin: 0 auto;
			background-repeat: no-repeat;
			font-size: 0;
			background-image: url(../images/banner_sp.png);
			background-size: 100%;
		}
	}

	main {
		width: 1280px;
		margin: 0 auto;
		@media #{$sp} {
			padding-top: 56px;
			width: 100%;
		}
		.contents {
			padding: 50px 0;
		}
		.content {
			&_title {
				color: #000000;
				font-size: 30px;
				font-weight: 600;
				padding-bottom: 50px;
				@media #{$sp} {
					font-size: 20px;
					letter-spacing: 2px;
				}
			}
		}

		#title {
			.main_img {
				img {
					display: block;
				}
			}
		}
		#top {
			.content {
				&_inner {
					@media #{$sp} {
						margin: 0px;
					}
					.appli_link {
						&.pc {
							width: 350px;
							margin: 0 auto;
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							.link_btn {
								margin-right: 20px;
								&:last-child {
									margin-right: 0;
								}
								a {
									display: block;
									img {
										width: 160px;
										height: auto;
									}
								}
							}
						}
						&.sp {
							.sp_link_btn {
								padding: 0 50px;
								a {
									display: block;
									img {
										display: block;
									}
								}
							}
						}
					}
				}
			}
		}
		#prize {
			background: #ffffff;
			.content {
				&_inner {
					.prize {
						&_content {
							margin-bottom: 50px;
						}
						&_list {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							@media #{$sp} {
								display: block;
								padding: 0;
							}
							&_wrap {
								margin-bottom: 60px;
								padding-bottom: 30px;
								border-bottom: solid 2px #F2F2F2;
								&:last-child {
									margin-bottom: 0;
								}
							}
							&_period {
								padding-bottom: 40px;
								@media #{$sp} {
									font-size: 18px;
									padding-bottom: 0;
								}
							}
							&_item {
								width: 400px;
								@media #{$sp} {
									width: 100%;
									margin-right: 0px;
									margin-top: 40px;
								}
								&:last-child {
									margin-right: 0;
								}
							}
						}
						&_item {
							&_img {
								@media #{$sp} {
									padding: 0 8%;
								}
								img {
									display: block;
									margin: 0 auto;
									@media #{$sp} {
										width: 100%;
										height: auto;
									}
								}
							}
							&_text {
								@media #{$sp} {
									font-size: 14px;
								}
							}
							&_annotation {
								margin-top: 15px;
								font-size: 12px;
							}
						}
					}
					.about_stamp {
						&_img {
							padding: 0 40px;
							@media #{$sp} {
								padding: 0 3%;
							}
							img {
								display: block;
							}
						}
						&_text {
							@media #{$sp} {
								margin-top: 15px;
							}
							&_box {
								font-size: 20px;
								font-weight: bold;
								padding: 30px 60px;
								@media #{$sp} {
									font-size: 14px;
									padding: 0 10%;
								}
								&_title {
									padding: 24px 0;
									border: 2px solid #f2f2f2;
									@media #{$sp} {
										padding: 10px 0;
										margin: 0 auto;
									}
								}
							}
							&_period {
								margin-bottom: 50px;
								@media #{$sp} {
									font-size: 14px;
									margin-bottom: 0;
									padding-top: 30px;
								}
							}
							&_annotation {
								font-size: 12px;
								padding: 0 40px;
								@media #{$sp} {
									font-size: 10px;
									padding: 0;
									padding-top: 30px;
								}
								a {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
		#reward {
			margin-bottom: 100px;
			@media #{$sp} {
				margin-bottom: 60px;
			}
			.content {
				&_inner {
					background: #ffffff;
					.about_reward {
						padding: 50px 0;
						&_text {
							padding-bottom: 30px;
						}
						&_annotation {
							font-size: 12px;
						}
					}
				}
			}
		}
		#event {
			background: #ffffff;
			.content {
				&_inner {
					.about_event {
						@media #{$sp} {
							padding: 0 40px;
						}
						&_item {
							padding-bottom: 30px;
							@media #{$sp} {
								text-align: left;
							}
							&:last-child {
								padding-bottom: 0;
							}
						}
					}
				}
			}
		}
		#question {
			.content {
				&_inner {
					@media #{$sp} {
						padding: 0 8%;
						padding-bottom: 30px;
					}
					.question {
						&_list {
							&_item {
								margin-bottom: 35px;
								text-decoration: underline;
								@media #{$sp} {
									text-align: left;
									font-size: 12px;
								}
								&:last-child {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
		}
		#appli {
			background: #ffffff;
			margin-bottom: 100px;
			@media #{$sp} {
				margin-bottom: 60px;
			}
			.content {
				&_inner {
					.appli_link {
						&.pc {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							width: 350px;
							margin: 0 auto;
							padding-bottom: 80px;
							.link_btn {
								margin-right: 20px;
								&:last-child {
									margin-right: 0;
								}
								a {
									display: block;
									img {
										width: 165px;
										height: auto;
									}
								}
							}
						}
						&.sp {
							.sp_link_btn {
								padding-bottom: 45px;
								a {
									display: block;
									width: 170px;
									margin: 0 auto;
									img {
										display: block;
									}
								}
							}
						}
					}
					.introduction_link {
						a {
							text-decoration: underline
						}
					}
				}
			}
		}
	}

	footer {
		background: #a6a6a6;
		.inner {
			width: 960px;
			margin: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 60px;
			font-size: 13px;
			color: #fff;
			letter-spacing: 1px;
			@media #{$sp} {
				border-top: 1px solid #cccccc;
				display: block;
				width: auto;
			}
		}
		.texts {
			display: flex;
			justify-content: left;
			@media #{$sp} {
				display: block;
			}
		}
		.text {
			height: auto;
			text-decoration: none;
			display: block;
			color: #fff;
			@media #{$sp} {
				border-bottom: 1px solid #e6e6e6;
				height: 40px;
				border-bottom: 1px solid #a6a6a6;
				display: flex;
				justify-content: center;
				align-items: center;
				background: #fff;
				color: #000;
				font-size: 11px;
			}
			& + .text {
				margin-left: 30px;
				@media #{$sp} {
					margin-left: auto;
				}
			}
		}
		.copy {
			@media #{$sp} {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 40px;
				background: #a6a6a6;
			}
		}
	}
}
