@charset "utf-8";

body {
	background: #F2F2F2;
	text-align: center;
	color: #4C4C4C;
	@media #{$sp} {
		font-size: 14px;
	}
	header {
		display: flex;
    justify-content: space-between;
    align-items: center;
		padding: 0 20px;
		margin: 0 auto;
    box-sizing: border-box;
    background-color: #f2f2f2;
    width: 1280px;
    height: 50px;
		.logo{
			background-repeat: no-repeat;
			font-size: 0;
			background-image: url(../images/header_logo.png);
			width: 130px;
			height: 16px;
		}
		.link {
			background-repeat: no-repeat;
			font-size: 0;
			background-image: url(../images/header_button.png);
			width: 172px;
			height: 25px;
			transition: 0.2s all ease;
		}
	}
	.banner {
		height: 65px;
		width: 100%;
		z-index: 256;
		transition: 0.2s all ease;
		background-color: #f2f2f2;
		position: fixed;
		.img {
			display: block;
			height: 100%;
			background-repeat: no-repeat;
			font-size: 0;
			background-image: url(../images/banner_sp.png);
			background-size: 100%;
		}
	}

	main {
		width: 1280px;
		margin: 0 auto;
		@media #{$sp} {
			padding-top: 60px;
			width: 100%;
		}
		.content {
			&_title {
				color: #000000;
				font-size: 30px;
				font-weight: 600;
				line-height: 1.5;
				@media #{$sp} {
					font-size: 20px;
				}
			}
		}

		#top {
			margin-bottom: 70px;
			@media #{$sp} {
				padding: 30px 10%;
				margin-bottom: 0px;
			}
			.content {
				&_title {
					padding-top: 50px;
					@media #{$sp} {
						padding-top: 0;
					}
				}
				&_inner {
					@media #{$sp} {
						padding-top: 30px;
						margin: 0px;
					}
					.appli_link {
						&.pc {
							width: 350px;
							margin: 45px auto 0 auto;
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							.link_btn {
								margin-right: 20px;
								&:last-child {
									margin-right: 0;
								}
								a {
									display: block;
									img {
										width: 160px;
										height: auto;
									}
								}
							}
						}
						&.sp {
							.link_btn {
								padding: 0 50px;
								padding-bottom: 40px;
								a {
									display: block;
									img {
										display: block;
									}
								}
							}
						}
					}
				}
			}
		}
		#prize {
			background: #ffffff;
			margin-bottom: 80px;
			.content {
				&_title {
					padding-top: 50px;
				}
				&_inner {
					padding-top: 50px;
					@media #{$sp} {
						padding-top: 35px;
					}
					.prize {
						&_list {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							@media #{$sp} {
								display: block;
							}
							&_wrap {
								margin-bottom: 60px;
								padding-bottom: 30px;
								border-bottom: solid 2px #F2F2F2;
								&:last-child {
									margin-bottom: 0;
								}
							}
							&_period {
								font-size: 20px;
								padding-bottom: 40px;
								font-weight: bold;
								@media #{$sp} {
									font-size: 18px;
									padding-bottom: 0;
								}
							}
							&_item {
								width: 350px;
								margin-right: 55px;
								@media #{$sp} {
									width: 100%;
									margin-right: 0px;
								}
								&:last-child {
									margin-right: 0;
								}
							}
						}
						&_item {
							&_img {
								@media #{$sp} {
									padding: 0 10%;
								}
								img {
									display: block;
									height: 250px;
									width: auto;
									margin: 0 auto;
									@media #{$sp} {
										width: 100%;
										height: auto;
									}
								}
							}
							&_text {
								@media #{$sp} {
									font-size: 14px;
								}
							}
							&_annotation {
								margin-top: 35px;
								margin-bottom: 14px;
								font-size: 12px;
							}
						}
					}
					.about_stamp {
						&_title {
							font-size: 20px;
							font-weight: bold;
							@media #{$sp} {
								font-size: 24px;
							}
						}
						&_img {
							padding: 0 10%;
							img {
								@media #{$sp} {
									width: auto;
									display: block;
									margin: 0 auto;
								}
							}
						}
						&_text {
							padding-bottom: 90px;
							@media #{$sp} {
								padding-bottom: 65px;
							}
							&_box {
								font-size: 20px;
								font-weight: bold;
								padding: 0 60px;
								margin-bottom: 35px;
								@media #{$sp} {
									font-size: 18px;
									margin-top: 15px;
									padding: 0 12%;
								}
								&_title {
									padding: 24px 0;
									border: 2px solid #f2f2f2;
									@media #{$sp} {
										padding: 10px 25px;
										margin: 0 auto;
									}
								}
							}
							&_period {
								margin-bottom: 50px;
								@media #{$sp} {
									font-size: 14px;
									line-height: 1.5;
									margin-bottom: 35px;
								}
							}
							&_annotation {
								font-size: 12px;
								padding: 0 40px;
								@media #{$sp} {
									font-size: 10px;
									line-height: 1.5;
								}
								a {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
		#reward {
			margin-bottom: 110px;
			padding: 0 15%;
			@media #{$sp} {
				padding: 0 10%;
			}
			.content {
				&_title {
					margin-bottom: 35px;
				}
				&_inner {
					background: #ffffff;
					padding: 30px 0 40px 0;
					@media #{$sp} {
						padding: 40px 5%;
					}
					.about_reward {
						&_text {
							padding-bottom: 30px;
							&.strong {
								font-size: 20px;
								font-weight: bold;
							}
						}
						&_annotation {
							font-size: 12px;
						}
					}
				}
			}
		}
		#event {
			background: #ffffff;
			margin-bottom: 110px;
			.content {
				&_title {
					padding: 50px 0;
					@media #{$sp} {
						padding: 0 0 40px 0;
					}
				}
				&_inner {
					padding-bottom: 70px;
					@media #{$sp} {
						padding: 40px 10%;
					}
					.about_event {
						&_item {
							padding-bottom: 30px;
							@media #{$sp} {
								text-align: left;
							}
							&:last-child {
								padding-bottom: 0;
							}
						}
					}
				}
			}
		}
		#question {
			margin-bottom: 110px;
			.content {
				&_title {
					margin-bottom: 60px;
				}
				&_inner {
					padding: 0 61px;
					@media #{$sp} {
						padding: 0 8%;
					}
					.question {
						&_list {
							&_item {
								margin-bottom: 35px;
								text-decoration: underline;
								@media #{$sp} {
									text-align: left;
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
		#appli {
			background: #ffffff;
			margin-bottom: 80px;
			.content {
				&_title {
					padding-top: 50px;
					margin-bottom: 65px;
					@media #{$sp} {
						margin-bottom: 45px;
					}
				}
				&_inner {
					padding-bottom: 70px;
					@media #{$sp} {
						margin: 0px;
					}
					.appli_link {
						&.pc {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							width: 350px;
							margin: 0 auto;
							.link_btn {
								margin-right: 20px;
								&:last-child {
									margin-right: 0;
								}
								a {
									display: block;
									img {
										width: 165px;
										height: auto;
									}
								}

							}
						}
						&.sp {
							.link_btn {
								a {
									display: block;
									width: 170px;
									margin: 0 auto;
									img {
										display: block;
									}
								}
							}
						}
					}
					.introduction_link {
						padding-top: 80px;
						@media #{$sp} {
							padding-top: 40px;
						}
						a {
							text-decoration: underline
						}
					}
				}
			}
		}
	}

	footer {
		width: 100%;
		background: #A6A6A6;
		.footer {
			&__wrap {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				width: 1080px;
				margin: 0 auto;
				@media #{$sp} {
					display: block;
					width: 100%;
				}
			}
			&_link {
				color: #ffffff;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				@media #{$sp} {
					display: block;
					color: #000000;
					font-size: 12px;
					background: #ffffff;
				}
				&_item {
					font-size: 14px;
					padding : 25px 0;
					margin-right: 24px;
					&:last-child {
						margin-right: 95px;
						@media #{$sp} {
							margin: 0 auto;
						}
					}
					@media #{$sp} {
						margin-right: 0;
						padding: 12px 0;
						border-bottom: 2px solid #f2f2f2;
					}
				}
			}
			&_inc {
				padding : 25px 0;
				font-size: 14px;
				@media #{$sp} {
					font-size: 12px;
					padding : 10px 0;
				}
				a {
					display: block;
					color: #fff;
				}
			}
		}
	}
}
