@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  background: #F2F2F2;
  color: #4C4C4C;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", " メイリオ", Meiryo, Osaka, sans-serif;
  line-height: 1.8;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: #4C4C4C;
  text-decoration: none;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: block;
}

.sp {
  display: none;
}

.hide {
  display: none !important;
}

img {
  height: auto;
  width: 100%;
}

body header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  width: 1280px;
}

body header .logo {
  background-image: url(../images/header_logo.png);
  background-repeat: no-repeat;
  font-size: 0;
  height: 16px;
  width: 130px;
}

body header .link {
  background: #F1CF07;
  color: #231815;
  font-size: 12px;
  padding: 2px;
  width: 172px;
}

body header .link a {
  display: block;
}

body .banner {
  background-color: #f2f2f2;
  height: 56px;
  position: fixed;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  width: 100%;
  z-index: 256;
}

body .banner .img {
  background-image: url(../images/banner_sp.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  font-size: 0;
  height: 100%;
  margin: 0 auto;
  width: 320px;
}

body main {
  margin: 0 auto;
  width: 1280px;
}

body main .contents {
  padding: 100px 0;
}

body main .content_title {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
}

body main .content_inner {
  margin: 40px auto 0;
}

body main #title .main_img img {
  display: block;
}

body main #top .content_inner .appli_link.pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 350px;
}

body main #top .content_inner .appli_link.pc .link_btn {
  margin-right: 20px;
}

body main #top .content_inner .appli_link.pc .link_btn:last-child {
  margin-right: 0;
}

body main #top .content_inner .appli_link.pc .link_btn a {
  display: block;
}

body main #top .content_inner .appli_link.pc .link_btn a img {
  height: auto;
  width: 160px;
}

body main #top .content_inner .appli_link.sp {
  height: auto;
  margin: 0 auto;
  width: 163px;
}

body main #top .content_inner .appli_link.sp .sp_link_btn {
  display: block;
}

body main #top .content_inner .appli_link.sp .sp_link_btn img {
  display: block;
}

body main #prize {
  background: #ffffff;
}

body main #prize .content_inner .prize_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #prize .content_inner .prize_list_wrap {
  border-bottom: solid 2px #F2F2F2;
  margin: 40px 40px 0 40px;
  padding-bottom: 30px;
}

body main #prize .content_inner .prize_list_period {
  padding-bottom: 40px;
}

body main #prize .content_inner .prize_list_item {
  width: 400px;
}

body main #prize .content_inner .prize_list_item:last-child {
  margin-right: 0;
}

body main #prize .content_inner .prize_item_img img {
  display: block;
  margin: 0 auto;
}

body main #prize .content_inner .prize_item_annotation {
  font-size: 12px;
  margin-top: 15px;
}

body main #prize .content_inner .about_stamp_title {
  margin-top: 40px;
}

body main #prize .content_inner .about_stamp_img {
  padding: 0 40px;
}

body main #prize .content_inner .about_stamp_img img {
  display: block;
}

body main #prize .content_inner .about_stamp_text_box {
  font-size: 20px;
  font-weight: bold;
  padding: 30px 60px;
}

body main #prize .content_inner .about_stamp_text_box_title {
  border: 2px solid #f2f2f2;
  padding: 24px 0;
}

body main #prize .content_inner .about_stamp_text_period {
  margin-bottom: 50px;
}

body main #prize .content_inner .about_stamp_text_annotation {
  font-size: 12px;
  padding: 0 40px;
}

body main #prize .content_inner .about_stamp_text_annotation a {
  text-decoration: underline;
}

body main #reward {
  margin-bottom: 100px;
}

body main #reward .content_inner {
  background: #ffffff;
  margin: 40px auto 0;
  width: 960px;
}

body main #reward .content_inner .about_reward {
  padding: 100px 0;
}

body main #reward .content_inner .about_reward_text {
  padding-bottom: 30px;
}

body main #reward .content_inner .about_reward_annotation {
  font-size: 12px;
}

body main #event {
  background: #ffffff;
}

body main #event .content_inner .about_event {
  margin: 40px auto 0;
}

body main #event .content_inner .about_event_item {
  padding-bottom: 30px;
}

body main #event .content_inner .about_event_item:last-child {
  padding-bottom: 0;
}

body main #question .content_inner .question_list_item {
  margin-bottom: 35px;
  text-decoration: underline;
}

body main #question .content_inner .question_list_item:last-child {
  margin-bottom: 0;
}

body main #appli {
  background: #ffffff;
  margin-bottom: 100px;
}

body main #appli .content_inner .appli_link.pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 80px;
  width: 350px;
}

body main #appli .content_inner .appli_link.pc .link_btn {
  margin-right: 20px;
}

body main #appli .content_inner .appli_link.pc .link_btn:last-child {
  margin-right: 0;
}

body main #appli .content_inner .appli_link.pc .link_btn a {
  display: block;
}

body main #appli .content_inner .appli_link.pc .link_btn a img {
  height: auto;
  width: 165px;
}

body main #appli .content_inner .appli_link.sp {
  height: auto;
  margin: 0 auto;
  width: 163px;
}

body main #appli .content_inner .appli_link.sp .sp_link_btn {
  display: block;
}

body main #appli .content_inner .appli_link.sp .sp_link_btn img {
  display: block;
}

body main #appli .content_inner .introduction_link {
  margin-top: 15px;
}

body main #appli .content_inner .introduction_link a {
  text-decoration: underline;
}

body footer {
  background: #a6a6a6;
}

body footer .inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 1px;
  margin: auto;
  width: 960px;
}

body footer .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

body footer .text {
  color: #fff;
  display: block;
  height: auto;
  text-decoration: none;
}

body footer .text + .text {
  margin-left: 30px;
}

@media only screen and (max-width: 769px) {
  body {
    font-size: 14px;
  }
  h3 {
    font-size: 18px;
  }
  .pc {
    display: none !important;
  }
  .sp {
    display: block;
  }
  body header {
    display: none;
  }
  body main {
    padding-top: 56px;
    width: 100%;
  }
  body main .contents {
    padding: 40px 0;
  }
  body main .content_title {
    font-size: 20px;
    letter-spacing: 2px;
  }
  body main .content_inner {
    margin: 30px auto 0;
  }
  body main #prize .content_inner .prize_list {
    display: block;
    padding: 0;
  }
  body main #prize .content_inner .prize_list_wrap {
    margin: 35px auto 0;
  }
  body main #prize .content_inner .prize_list_period {
    font-size: 18px;
    padding-bottom: 0;
  }
  body main #prize .content_inner .prize_list_item {
    margin-right: 0px;
    margin-top: 40px;
    width: 100%;
  }
  body main #prize .content_inner .prize_item_img img {
    height: auto;
    width: 100%;
  }
  body main #prize .content_inner .prize_item_text {
    font-size: 14px;
  }
  body main #prize .content_inner .about_stamp_img {
    padding: 0 3%;
  }
  body main #prize .content_inner .about_stamp_text {
    margin-top: 15px;
  }
  body main #prize .content_inner .about_stamp_text_box {
    font-size: 14px;
    padding: 0 10%;
  }
  body main #prize .content_inner .about_stamp_text_box_title {
    margin: 0 auto;
    padding: 10px 0;
  }
  body main #prize .content_inner .about_stamp_text_period {
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 30px;
  }
  body main #prize .content_inner .about_stamp_text_annotation {
    font-size: 10px;
    padding: 0;
    padding-top: 30px;
  }
  body main #reward {
    margin-bottom: 60px;
    padding-left: 10%;
    padding-right: 10%;
  }
  body main #reward .content_inner {
    width: 100%;
  }
  body main #reward .content_inner .about_reward {
    padding: 50px 0;
  }
  body main #event .content_title {
    letter-spacing: 0;
  }
  body main #event .content_inner .about_event {
    padding: 0 40px;
  }
  body main #event .content_inner .about_event_item {
    text-align: left;
  }
  body main #question .content_inner {
    margin: 35px auto 0;
    padding: 0;
    width: 280px;
  }
  body main #question .content_inner .question_list_item {
    font-size: 12px;
    text-align: left;
  }
  body main #appli {
    margin-bottom: 60px;
  }
  body footer .inner {
    border-top: 1px solid #cccccc;
    display: block;
    width: auto;
  }
  body footer .texts {
    display: block;
  }
  body footer .text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    border-bottom: 1px solid #a6a6a6;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 11px;
    height: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer .text + .text {
    margin-left: auto;
  }
  body footer .copy {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #a6a6a6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*# sourceMappingURL=../css/style.css.map */
